{% extends 'base.html' %}
{% block content %}


<div class="about-container">
    <h1>About Us</h1>

<div class="column1">
    <h4>Foodle:</h4>
    <p>foodle is a grocery delivery app, as inspired by covid-19. foodle will allow users to select groceries from certain stores, pay for them, set a delivery, and connect to a volunteer. Users will log on to a website, select a grocery store, pick their items, put them in a cart and checkout.</p>
</div>

<div class="column2">
    <h4>Why we built it:</h4>
    <p>In our current state of covid-19, social distancing has made it difficult for the elderly to buy groceries in a timely manner.  We wanted to create an app where a person could order groceries from a store, and have them delivered by a volunteer.</p>
</div>

<div class="column3">
    <h4>Who built it:</h4>
    <p>This is a student project, made by Avelynn, Galata, Vincent and William, who are students in SEIR-FLEX-Bladerunner from General Assembly in April 2020.</p>
</div>

</div>

{% endblock %}